body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.flexible-item{
    display: flex;
    margin-bottom: 100px;
    text-align: justify;
}
.header-part{
    width: 50%;
    margin: 0;
}
.a{
    background-image: url(./images/shapes/header-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
#header{
    margin-top: 3%;
    padding-left: 10%;
}
.header-part img{
    width: 80%;
    padding-left: 4%;
}
#about-img img{
    width: 60%;
    height: 500px;
    margin: 14% 20%;
}
#about-me{
    margin: 4% 5% 0% 20%;
}
.about{
    background-image: url(./images/shapes/background.png);
    background-repeat: no-repeat;
    margin: 0%;
}
.section-title{
    color: orange;
}
.link-button{
    border: 10px solid orange;
    border-radius: 20px;
    background-image: linear-gradient(orange, orange);
    color: white;
    text-decoration: none;
}
.recipies{
    width: 70%;
    margin: 0 5%;
    border: 15px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.recipies img{
    height: auto;
    width: 100%;
}
.mr-top{
    text-align: center;
    margin: 0 30%;
}
.optional{
    border: 15px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    margin: 0 5%;
}
.optional-box{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;  
}
#optional-part{
    margin: 0;
    padding: 0 100px;
}
.subscribe{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.input-type input{
    padding: 15px 3px;
    border: 2px solid #ccc;
    margin-left: 5px;
}
.subscribe-title{
    border: 3px solid black;
    border-radius: 2px;
    padding: 8px;
    margin-left: 2%;
    text-decoration: none;
}



.Contact{
    text-align: center;
    margin-top: 100px;
}
#contact-info{
    margin: 0 30%;
}
#contact-info img{
    height: 70%;
    width: 70%;
}
.footer-part{
    margin-top: 100px;
    color: white;
    background-color: #01011a;
    text-align: center;
    padding: 20px 0 90px 0;
}